
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #032141;
    height: 50;
    
}

nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #121539;
    z-index: 99;
}


.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0;
    justify-content: space-between;
    float: right;
}

.navbar{
    width:86%;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    width: 60%;
    height: 50;
    margin-left: 30px;
}


.logo{
    color: #ff7200;
    font-size: 40px;
    font-family: cursive;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}


ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

ul li a:hover {
    color: rgb(0, 0, 0);
}

.section {
    width: 100%;
    background: url(Images/istitik.jpg);
    float: inline-end;
}

.section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.subtitle {
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--text-dark);
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 15%;
    margin-left: 35%;
    color: aquamarine;
}

.title {
    font-size: 50px;
    font-weight: 400;
    line-height: 4rem;
    color: white;
    margin-top: 5%;
    padding-inline-end: 3%;
}

.title span {
    font-weight: 600;
}

.description {
    padding: 15px;
    line-height: 1.5rem;
    color: white;
    margin-bottom: 2rem;
    margin-top: 15px;
    margin-left: .6%;
    margin-right: 30;
    font-size: 15px;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;

}

.socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--text-dark);
    border-radius: 10%;
    font-size: 20px;
    color: var(--text-dark);
    transition: color 0.5s, background-color 0.5s;
    position: relative;
    margin: 0 10px;
}

.socials a:hover {
    color: rgb(197, 119, 119);
    background-color: rgb(170, 220, 255); 
}

.socials a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--light-purple);
    z-index: -1;
    transition: width 0.5s;
}

.socials a:hover::before {
    width: 100%;
}

.image {
    display: grid;
    place-items:center;
}

.image img {
    margin-top: 10%;
    width: 450px;
    height: 480px;
    border-radius: 100%;
}

@media (max-width: 750px) {
    nav .checkbox {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    ul li a {
        font-size: 1.30rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
}


.infographics {
    text-align: center; 
    margin: 3rem 0;
}

.infographics h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.infographics img {
    width: 100%;
    max-width: 500px; 
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.footer {
    text-align: center;
    position: relative;
    padding: 15px;
    background-color: #121539;
    color: white;
    margin-top: 10%;
}